*
{
    margin: 0;
    padding-top: 0;
}

html, body
{
    height: 100%;
    width: 100%;
}


.game
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #FAF6EB;
}

    .game .header
    {
        height: 20vmin;
        width: 80vmin;
        font-size: 10vmin;
        background-color: #C3B399;
        box-sizing: border-box;;
    }

    .game .field
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 80vmin;
        width: 80vmin;
        background-color: #C3B399;
    }

        .game .field .cell
        {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18vmin;
            width: 18vmin;
            margin: 1vmin;
            box-sizing: border-box;
            background-color: #CCC0B3;
            border: 2px solid darkgrey;
            border-radius: 2vmin;
            font-size: 10vmin;
        }

        .game .field .cell[data-ship = "2"]
        {
            background-color: #EEE4DA;
        }

        .game .field .cell[data-ship = "4"]
        {
            background-color: #E8D8BC;
        }

        .game .field .cell[data-ship = "8"]
        {
            background-color: #F3AD70;
        }

        .game .field .cell[data-ship = "16"]
        {
            background-color: #F79268;
        }

        .game .field .cell[data-ship = "32"]
        {
            background-color: #F67C5F;
        }

        .game .field .cell[data-ship = "64"]
        {
            background-color: #F65E3B;
        }

        .game .field .cell[data-ship = "128"]
        {
            background-color: #DECF72;
        }

        .game .field .cell[data-ship = "256"]
        {
            background-color: #EDCC61;
        }

        .game .field .cell[data-ship = "512"]
        {
            background-color: #EDC850;
        }

        .game .field .cell[data-ship = "1024"]
        {
            background-color: #EDC53F;
        }